body {
	padding-top:0px ;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;margin-bottom: 0px;
	background-color : #FBFAFA;
}

#header {margin-top: 0px;height: 100px;background: #226645;}
#header .bigtitle {font-family: Philosopher; color: white;font-size: 25px;}
#header #title-block { float: left ;width: 40%;}
#header #search-block {margin-top: 10px; margin-right: 20px; background:transparent; padding-top: 10px; float: right;  width: auto; height: auto}

#header #seacrh_field { width: 500px;height: 40px; border: solid 5px #B0AEAE; border-radius:10px;}
#header #button-field { border-radius: 10px;margin-left: 0px;height:55px; background-color:#226645;color: #B0AEAE; }
#page-content {
	height: 470px;padding-left: 25px;padding-top:25px;border: solid 1px black ; border-radius: 3px;
}
#footer {
	height: 60px;
	background: #226645;
}